/* ----------------------------------------
   1. Reset and Base Styles
---------------------------------------- */

/* General Reset */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Typography Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* General Container */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1em;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}
